[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=periodic-table
Exec=periodic-table
Name=periodic-table
# translation example:
# your app name in German locale (de)
Name[de]=periodic-table

